.yearly-chart{
    display: grid;
    align-items: end;
    position: relative;
    padding: 4px;
}

#year-menu{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 8px;
    right: 30px;
    z-index: 1;
}

#year-menu .year-option{
    background: none;
    outline: none;
    border: none;
    color: black;
    cursor: pointer;
}

#year-menu .active{
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.272);
    border-radius: 4px;
}