.header-cards__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  gap: 50px;
}

.fixed-expense__container{
  margin-top: 40px;
}

.charts__container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  margin-top: 40px;
  gap: 20px;
}

@media screen and (max-width: 768px){

  .charts__container{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .header-cards__container{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}