:root{
    --bg-color: white;
}

.card{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.074);
    background-color: var(--bg-color);
    transition: box-shadow 0.5s;
}

.giant{
  grid-column: span 2;
  grid-row: span 4;
  height: auto;
}

.mid{
  grid-column: span 1;
  grid-row: span 4;
  height: auto;
}

@media screen and (max-width: 768px){
  .giant{
    grid-column: span 1;
  }
}